// sidebar
$menuText:#243E36;
$menuActiveText:#4867FF;
$subMenuActiveText:#ACE9FF; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#8339D8;

$subMenuBg:#fff;
$subMenuHover:#8339D8;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
